/* Colors
96bb7c
d6efc7
eebb4d
*/

* {
    color: #184d47;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********************************************
*            REUSABLE COMPONENTS            *
********************************************/

section { 
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

}

.logo {
    height: 100px;
    float: left;
    margin: 10px;
}

/********* HEADINGS *********/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 3%;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}


/********* LINKS *********/

a img {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link h2,
a:visited h2 {
    padding-bottom: 1px;
}

a:hover h2,
a:active h2 {
    font-weight: bolder;
}

/********* BUTTONS *********/

button {
    background-color: #d6efc7;
    border: 1px solid #d6efc7;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

button:hover {
    background-color: #96bb7c;
    border: 1px solid #96bb7c;
    color: #fff;
}

.form_btn {
    margin-top: 20px;
    background-color: #d6efc7;
    border: 1px solid #d6efc7;
    border-radius: 5px;
    padding: 1%;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.form_btn:hover {
    background-color: #96bb7c;
    border: 1px solid #96bb7c;
    color: #fff;
}

/********* TABLES *********/
table,
th,
td {
    background-color: #d6efc799;
    border-radius: 5px;
}

table {padding: 10px;}

th, td {
    border: 1px solid #184d47;
    padding: 3px 20px;
}

table, th, td {
    text-align: center;
}

th { font-weight: bolder; }

table td form {padding: 0;}

ion-icon {
    z-index: -1;
}

#view_entry,
#edit_entry, 
#remove_entry { 
    z-index: 1;
    font-size: 25px;
}

#view_entry:active,
#edit_entry:active, 
#remove_entry:active { 
    transform: translateY(2px); 
}

/********************************************
*                  HEADER                   *
********************************************/
header {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 20px 0;
}

header button {
    margin: 20px 0;
}

/********************************************
*               LANDING PAGE                *
********************************************/

.landing_page {
    background-image: linear-gradient(#ffffff99,#ffffff99), url(bah_sing_se1.png);
}

.big_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.big_nav li {
    padding: 7px;
    padding-bottom: 10px;
    text-align: center;
    width: 30%;
    margin: 0 30px;
    background-color: #96bb7c95;
    border-radius: 5px;
}

.big_nav li img {
    width: 90%;
}

/********************************************
*              LIST OF STUFF                *
********************************************/

.query_list {
    background-image: linear-gradient(#ffffff99,#ffffff99), url(bah_sing_se.png);
}

.resutls_table tr td:last-child {
    padding: 3px 10px;
}

.resutls_table tr td form {
    width: auto;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: ;
}

.resutls_table tr td form button {
    margin: auto;
}

/********************************************
*              DETAILS PAGE                 *
********************************************/

.actions {
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

.details {
    background-image: linear-gradient(#ffffff99,#ffffff99), url(iroh_hill.jpeg);
}

.attribute {
    width: 40vw;
    display: flex;
    align-items: center;
}

.attribute_name {
    font-weight: bolder;
    margin-right: auto;
    display: inline-block;
}

/********************************************
*               EDIT PAGE                   *
********************************************/

.edit {
    background-image: linear-gradient(#ffffff99,#ffffff99), url(edit.png)
}

form {
    width: 50vw;
    border-radius: 5px;
    padding: 20px;
    background-color: #d6efc799;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    margin: 10px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 0 5%;
}

form div label {
    width: 40%;
    text-align: left;
}

form div input,
form div select {
    text-align: center;
    margin-left: auto;
}

form div select {
    width: 300px;
}

.silly_add {
    font-size: 65%;
    font-style: italic;
    font-weight: 100;
}

.date {
    width: 285px;
    height: 35px;
}

.tea_selection {align-items: flex-start;}

.tea_selection div {
    flex-direction: column;
    align-items: initial;
    padding: 0;
    margin: 0;
}

.tea_selection div label{ 
    width: 300px;
    display: flex;
    margin-left: auto;
}